<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="path">logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMisMatch="DENY"/>
            <PatternLayout
                    pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %style{%processId}{magenta} --- [%t] %style{%c{4}}{cyan} : %m%n%ex"/>
        </Console>
        <RollingRandomAccessFile name="RandomAccessFile" filename="${path}/im-sync-bot.log"
                                 filePattern="${path}/$${date:yyyy-MM}/im-sync-bot-%d{yyyy-MM-dd}-%i.log.zip"
                                 immediateFlush="false" append="true">
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="250MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
            <PatternLayout
                    pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} ${LOG_LEVEL_PATTERN:-%5p} %processId --- [%t] %c : %m%n%ex"/>
            <!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>-->
            <!--            <DefaultRolloverStrategy max="24">-->
            <!--                <Delete basePath="${path}" maxDepth="2">-->
            <!--                    <IfLastModified age="24H" />-->
            <!--                </Delete>-->
            <!--            </DefaultRolloverStrategy>-->
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <!-- avoid duplicated logs with additivity=false -->
        <Logger name="net.mamoe.mirai" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RandomAccessFile"/>
        </Logger>
        <Logger name="kurenai.imsyncbot" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RandomAccessFile"/>
        </Logger>
        <Logger name="moe.kurenai" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RandomAccessFile"/>
        </Logger>
        <Root level="info" includeLocation="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RandomAccessFile"/>
        </Root>
        <!--        <asyncRoot level="debug" includeLocation="false">-->
        <!--            <AppenderRef ref="Console"/>-->
        <!--            <AppenderRef ref="RandomAccessFile"/>-->
        <!--        </asyncRoot>-->
    </Loggers>
</Configuration>
